.logo {
  font-family: 'NeoGram', sans-serif;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  user-select: none;
}

.sizeSmall {
  font-size: 1.125rem;
  line-height: 1.05rem;
}

.sizeNormal {
  font-size: 1.5rem;
  line-height: 1.35rem;
}

.sizeLarge {
  font-size: 2.25rem;
  line-height: 1.9rem;
}

.sizeXLarge {
  font-size: 3rem;
  line-height: 2.5rem;
}

.size2XLarge {
  font-size: 5rem;
  line-height: 4.2rem;
}

@media (max-width: 576px) {
  .size2XLarge {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 380px) {
  .size2XLarge {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 320px) {
  .size2XLarge {
    font-size: 2.75rem;
    line-height: 2.35rem;
  }
}